# Sample terraform.tfvars file
# Copy this file to terraform.tfvars and fill in your values

# Deployment Environment
environment = "prod"

# AWS Configuration
aws_region = "us-east-1"

# Domain Configuration
domain_name = "example.com"  # Replace with your actual domain

# Render Configuration (for frontend)
render_api_key = "rnd_XXXXXXXXXXXXXXXXXXXXXXXXXXXX"  # Replace with your Render API key
render_owner_id = "tea-cvkrj99r0fns73867d00"
clerk_config = {
  publishable_key = ""
  cname_clerk = "frontend-api.clerk.services"
  cname_accounts = "accounts.clerk.services"
  cname_email_clk = ""
  cname_email_clk2 = ""
  cname_email_clkmail = ""
  sign_in_url = "https://accounts.mealmanager.org/sign-in"
  sign_up_url = "https://accounts.mealmanager.org/sign-up"
}

# Git Repository - Update if you've forked the repository
repository_url = "https://github.com/mjourard/meal-manager"
repository_branch = "main"  # Change if deploying from a different branch 